*{
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
}

body{

    background: rgb(30,30,36);
    background: linear-gradient(356deg, rgba(30,30,36,1) 30%, rgba(106,142,174,1) 91%);

}

/* sezione container */

.container{
    width: 1000px;
    margin: 50px 550px;
    padding: 50px;
}

.container-laterale{
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#080707;
    height: 100%;
    color: white;

}

/* sezione row */

.row-orrizontale, .row-verticale, .row-orrizontale-2, .row-verticale-2, .row-dado, .row-giocatori{
    display: flex;
}

.row-orrizontale-2{
    flex-direction: row-reverse;
}

.row-verticale, .row-verticale-2{
    flex-direction: column;
}

.row-verticale{
    align-items: end;
}

.row-dado{
    margin-top: 5rem;
}

.row-dado .col-12{
    display: flex;
    flex-direction: column;
}

.row-dado, .row-giocatori, .row-legenda{
    margin: 0 1rem

    
}

.row-giocatori{
    margin-top: 3rem ;
}

.row-legenda{
    margin-top: 3rem;
    padding: 0.5rem;
    border-radius: 30px;
    background: #dddddd1c;
    box-shadow: 0px 0px 10px 1px;
}


/* sezione col */


.col-2-orrizontale{
    width: calc(100% / 11);
    border: 0.5px solid rgb(8, 8, 8);
    height: 80px;
    background-color: #C3D2D5;
    align-items: center;
    justify-content: center;
    position: relative;
}

.col-2-verticale{
    width: calc(100% / 11); /* La stessa larghezza delle colonne orizzontali */
    border: 0.5px solid rgb(8, 8, 8);
    height: 80px;
    background-color: #C3D2D5;
    align-items: center;
    justify-content: center;
    position: relative;
}

.col-12{
    display: flex;
    width: 100%;
    align-items: center;
}

.row-legenda .col-12{
    justify-content: center;
}

/* SEZIONE CLASSI GENERICHE */

/* classi bordi  */

#uno{
    border-radius: 15px 0 0 15px;
}

#undici, #trentanove{
    border-radius:0 15px 0 0 ;
}

#quindici, #quarantatre{
    border-radius: 0 0 15px 0;
}

#venticinque, #cinquantatre{
    border-radius:  15px 0 0 0 ;
}

#ventinove, #cinquantasette{
    border-radius: 0 0 0 15px;
}

#sessantatre{
    border-radius: 0 15px 15px 0;
}

/* classi numero caselle */
#uno .numero-casella, #due .numero-casella, #tre .numero-casella, #quattro .numero-casella, #cinque .numero-casella, #sei .numero-casella, #sette .numero-casella, #otto .numero-casella, #nove .numero-casella{
    padding: 5px 10px;
} 

.numero-casella{
    font-weight: 500;
    color: black;
    padding: 5px;
    display: inline;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}



#dado{
    padding: .75rem 1.25rem;
	border-radius: 10rem;
    cursor: pointer;
    color: #fff;
    width: 50%;
    margin: 2rem auto;
    text-transform: uppercase;
    position: relative;
    transition: all 1s;
    z-index: 1; 
    letter-spacing: .15rem;
	overflow: hidden; 


}

#dado::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius:10rem;
    bottom: 0;
    left: 0;
    z-index: -2;
    
}

#dado::before{
    display: inline-block;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    background-color: rgb(7, 91, 112);
    transition: all 1s;
    border-radius: 10rem;
}

#dado:hover{
    color: #fff;
}

#dado:hover:before{
    width: 100%;
}

/* sezione sidebar laterale */

.lista-legenda{
    list-style: none;

}

li:first-child{
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #F9DC5C;

}

li{
    margin: 1rem 0;
}

.testo-speciale{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 0.5rem;
}

.numeri-speciali{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
}

.row-dado.col-12{
    display: flex;
}

/* sezione pedine */


.pedina-avanti-uno{
    content: url('./img/pedina_rossa_nobg.png');

}


.pedina-indietro-uno{
    background-color: rgb(255, 166, 0);
}

.pedina-avanti-due{
    content: url('./img/pedina_blu_nobg.png');
}

.pedina-indietro-due{
    background-color: rgb(0, 255, 170);
}

.pedina-stop-uno{
    border-color: brown;
    border-width: 5px;
}

.pedina-stop-due{
    border-color: rgb(118, 165, 42);
    border-width: 5px;
}

.winner{
    background-color: yellow;
}

.square{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#player-uno, #player-due{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#player-uno img, #player-due img{
    width: 50%;
    filter: drop-shadow(7px 5px 1px white);
}




#turno{
    color: #fff;
    text-align: center;
    margin: 3rem 0rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* sezione caselle speciali */

#dieci, #venticinque, #cinquantaquattro{
    background-image: url('../gioco_oca/img/stop.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#trentacinque, #cinquantacinque{
    background-image: url('../gioco_oca/img/doppiostop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#nove, #ventisette, #quarantacinque{
    background-image: url('../gioco_oca/img/ritira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* modale */

.modal{
    height: 500px;
    width: 800px;
    border-radius: 12px;
    background-color:white;
    z-index: 10;
    position: fixed;
    top: 150px;

}

.header-modal{
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    align-items: center;
}

.close{
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.close:hover{
    cursor: pointer;
    background-color: #ecf0f1;
    transition: transform 0.25s
}


#modal-show{
    /* display:none */
    display: flex;
    justify-content: center;

}

.body-modal{
    align-self: center;
}

/* costruzuione dado */

#dice{
    width: 100px;
    height: 100px;
    left: 40%;
    top: 60%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 25px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(135deg) rotateY(-217deg) rotateZ(-88deg);
    animation: rotazione 1s linear;

}

#dice div{
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid white;
}

/* lato facce */

.background-face{
    background-color:#000;

}

.front{
    transform: translateZ(0px);
}

.back{
    transform: translateZ(-100px) rotateY(180deg);
}

.right{
    transform-origin: top right;
    transform: rotateY(-270deg) translateX(100px);
}

.left{
    transform-origin: center left;
    transform: rotateY(270deg) translateX(-100px);
}

.top{
    transform-origin: top center;
    transform: rotateX(-270deg) translateY(-100px);
}

.bottom{
    transform-origin: bottom center;
    transform: rotateX(270deg) translateY(100px);
}

.rotate-dice{
    /* animation: rotazione 3s  ease-out ; */
  
}



/* .opacity-dice{
    opacity: 0;
} */

@keyframes rotazione {
 
    0%{transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    50%{transform: rotateX(126deg) rotateY(127deg) rotateZ(245deg);}
    100%{transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);}

}

