*{
    margin: 0 ;
    box-sizing: border-box;
    padding: 0;
}

body{

    /* background: #a5bf9a; */
    background-image: url('./img/bk-forest.jpg');
    background-size: cover;
}

/* sezione container */

.container{
    width: 1000px;
    margin: 50px 550px;
    padding: 50px;
}

.container-laterale{
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#011C1D;
    height: 100%;
    color: #E3DEE0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* sezione row */

.row-orrizontale, .row-verticale, .row-orrizontale-2, .row-verticale-2, .row-dado, .row-giocatori{
    display: flex;
}

.row-orrizontale-2{
    flex-direction: row-reverse;
}

.row-verticale, .row-verticale-2{
    flex-direction: column;
}

.row-verticale{
    align-items: end;
}

.row-dado{
    margin-top: 5rem;
}

.row-dado .col-12{
    display: flex;
    flex-direction: column;
}

.row-dado, .row-giocatori, .row-legenda{
    margin: 0 1rem


}

.row-giocatori{
    margin-top: 3rem ;
}

.row-legenda{
    margin-bottom: 16rem;
    padding: 0.5rem;
    border-radius: 30px;
    background: #dddddd1c;
    box-shadow: 0px 0px 10px 1px;
}


/* sezione col */


.col-2-orrizontale{
    width: calc(100% / 11);
    border: #506560 1px solid;
    height: 80px;
    background-color: #011C1D;
    align-items: center;
    justify-content: center;
    position: relative;
}

.col-2-verticale{
    width: calc(100% / 11); /* La stessa larghezza delle colonne orizzontali */
    border: #506560 1px solid;
    height: 80px;
    background-color: #011C1D;
    align-items: center;
    justify-content: center;
    position: relative;
}

.col-12{
    display: flex;
    width: 100%;
    align-items: center;
}

.row-legenda .col-12{
    justify-content: center;
}

/* SEZIONE CLASSI GENERICHE */

/* classi bordi  */
.zero{
    margin-bottom: 5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 125px;
    background-size: cover;
    height: 90px;
}

#uno{
    border-radius: 15px 0 0 15px;
}

#undici, #trentanove{
    border-radius:0 15px 0 0 ;
}

#quindici, #quarantatre{
    border-radius: 0 0 15px 0;
}

#venticinque, #cinquantatre{
    border-radius:  15px 0 0 0 ;
}

#ventinove, #cinquantasette{
    border-radius: 0 0 0 15px;
}

#sessantatre{
    border-radius: 0 15px 15px 0;
}

/* classi numero caselle */
#uno .numero-casella, #due .numero-casella, #tre .numero-casella, #quattro .numero-casella, #cinque .numero-casella, #sei .numero-casella, #sette .numero-casella, #otto .numero-casella, #nove .numero-casella{
    padding: 5px 10px;
}

.numero-casella{
    font-weight: 500;
    padding: 5px;
    display: inline;
    color: #E3DEE0;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    font-family: "Poppins", sans-serif;
}

/* dado lancia */


#dado{
    padding: .75rem 1.25rem;
	border-radius: 10rem;
    cursor: pointer;
    color: #fff;
    width: 50%;
    margin: 2rem auto;
    text-transform: uppercase;
    position: relative;
    transition: all 1s;
    z-index: 1;
    letter-spacing: .15rem;
	overflow: hidden;
    


}

#dado::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #879592;
    border-radius:10rem;
    bottom: 0;
    left: 0;
    z-index: -2;

}

#dado::before{
    display: inline-block;
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    background-color: #506560;
    transition: all 1s;
    border-radius: 10rem;
}

#dado:hover{
    cursor: pointer;
}

#dado:hover:before{
    width: 100%;
}

/* sezione sidebar laterale */

.lista-legenda{
    list-style: none;

}

li:first-child{
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #879592;

}

li{
    margin: 1rem 0;
}

.testo-speciale{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 0.5rem;
}

.numeri-speciali{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8rem;
}

.row-dado.col-12{
    display: flex;
}

/* sezione pedine */


.pedina-avanti-uno{
    content: url('./img/pedina_rossa_nobg.png');

}


.pedina-indietro-uno{
    background-color: rgb(255, 166, 0);
}

.pedina-avanti-due{
    content: url('./img/pedina_blu_nobg.png');
}

.pedina-indietro-due{
    background-color: rgb(0, 255, 170);
}

.pedina-stop-uno{
    border-color: brown;
    border-width: 5px;
}

.pedina-stop-due{
    border-color: rgb(118, 165, 42);
    border-width: 5px;
}



.square{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#player-uno, #player-due{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#player-uno img, #player-due img{
    width: 50%;
    filter: drop-shadow(7px 5px 1px white);
}




#turno{
    color: #fff;
    text-align: center;
    margin: 3rem 0rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* sezione caselle speciali */

#dieci, #venticinque, #cinquantaquattro{
    background-image: url('../gioco_oca/img/stop.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#trentacinque, #cinquantacinque{
    background-image: url('../gioco_oca/img/doppiostop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#nove, #ventisette, #quarantacinque{
    background-image: url('../gioco_oca/img/ritira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#cinque{
    background-image: url('./img/go-to-13.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    background-color: #a97fffd9;
}

#ventinove{
    background-image: url('./img/go-to-40.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    background-color: #a97fffd9;
}

#quarantanove{
    background-image: url('./img/go-to-55.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    background-color: #a97fffd9;
}

#venti{
    background-image: url('./img/return-to-14.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    background-color: #ff7f7fd9;
}

#sessanta{
    background-image: url('./img/return-to-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px;
    background-color: #ff7f7fd9;
}
/* modale */

.modal{
    height: 700px;
    width: 500px;
    border-radius: 12px;
    background-image: url('./img/bk-modal.jpg');
    z-index: 10;
    position: fixed;
    top: 150px;
    left: 45%;
    -webkit-box-shadow: -1px 1px 5px 20px #2D2826 inset;
    background-size: cover;

}

.modal-winner{
    height: 290px;
    width: 400px;
    border-radius: 12px;
    z-index: 10;
    position: fixed;
    top: 260px;
    left: 45%;
    background-color: #0b0a0a;
    background-image: url('./img/fireworks.gif');
    background-repeat: no-repeat;
    background-size: contain;

}

.header-modal{
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    align-items: center;
    width: 100%;
}


.close{
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 30px;

}

.close i{
    color: rgb(141, 7, 7);
}

.close:hover{
    cursor: pointer;
    background-color: #E3DEE0;
    transition: transform 0.25s
}


#modal-show{
    display:none;
    justify-content: space-between;
    flex-direction: column;

}

#modal-winner{
    display:none;
    justify-content: space-between;
    flex-direction: column;

}

.body-modal{
    width: 100%;
    height: 60%;
}

.body-winner{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.container-dice{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#vincitore{
    color: #efb810;
}
/* sezione messaggi caselle speciali */
.penalità-promozioni{
    align-self: center;
    margin-bottom: auto;
}

.stop, .return-to, .go-and-stop{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgb(153, 9, 9);
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    background-color: #80808078;
    padding: 10px;
    border-radius: 10px;
}

.rilancia, .go-to{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(51, 175, 13, 0.94);
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    background-color: #80808078;
    padding: 10px;
    border-radius: 10px;
}



#result{
    margin-top: 50px;
    font-size: 30px;
    color: #E3DEE0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #80808078;
    padding: 15px 50px;
}

/* costruzuione dado */

#dice{
    width: 100px;
    height: 100px;
    font-size: 25px;
    position: relative;
    transform-style: preserve-3d;
    display: none;
    

}
.face{
    position: absolute;
    height: 100%;
    width: 100%;
    border:  solid rgb(235 229 229);
    transform-style: preserve-3d;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
    
    
}

/* lato facce */

.background-face{
    background-color:#fffdfd;

}

.front{
    transform: translateZ(50px);
}

.back{
    transform: rotateX(180deg) translateZ(50px);

}

.right{
    /* transform-origin: top right; */
    transform: rotateY(90deg) translateZ(50px);
}

.left{
    /* transform-origin: center left; */
    transform: rotateY(-90deg) translateZ(50px);
}

.top{
    /* transform-origin: top center; */
    transform: rotateX(90deg) translateZ(50px);
    
}

.bottom{
    /* transform-origin: bottom center; */
    transform: rotateX(-90deg) translateZ(50px);
    
}

.rotate-dice{
    animation: rotazione 3s ;

}

/* puntini per numeri */

.punto{
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.front .punto-1{
    background-color: red;
    top: 50%;
    left: 50%;
}

.back .punto-1, .top .punto-1, .left .punto-1, .right .punto-2, .bottom .punto-6{
    top: 75%;
    left: 75%;
}


.back .punto-2, .top .punto-2, .left .punto-2,  .right .punto-3, .bottom .punto-1{
    top: 25%;
    left: 25%;
}

.top .punto-3, .right .punto-1{
    top: 50%;
    left: 50%;
}

.left .punto-3, .right .punto-4, .bottom .punto-3{
    top: 75%;
    left: 25%;
}

.left .punto-4, .right .punto-5, .bottom .punto-4{
    top: 25%;
    left: 75%;
}

.bottom .punto-5{
    top: 50%;
    left: 75%;
}

.bottom .punto-2{
    top: 50%;
    left: 25%;
}



@keyframes rotazione {
    0% {bottom: 150px;}
    50%{transform: rotateX(455deg) rotateY(455deg); bottom: 0px;}
    

}

